<div class="full no-padding dark my-footer">

  <div id="footer" class='centered-text'>
    <div class='row'>
      <div class='large-12 columns'>
        <h4>©{{site.time | date: "%Y" }} Wrap theme. All rights reserved.</h4>
      </div>
    </div>
  </div>

</div>

<script>

function loadCSS(hf) {
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "https://fonts.googleapis.com/css?family=Raleway:400,700,300";
    document.getElementsByTagName("head")[0].appendChild(ms);
}





</script>

<script>

    function loadCSS(hf) {
        var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        document.getElementsByTagName("head")[0].appendChild(ms);
    }


</script>

<script>var ms = document.createElement("link");
ms.rel = "stylesheet";
ms.href = ".assets/css/main.css";
document.getElementsByTagName("head")[0].appendChild(ms);

</script>

<!-- Load Scripts -->
<script>var scr = {
    "scripts": [
      {% for path in site.data.assets.js %}

        {%- if path contains '://' -%}
          {%- assign src = path -%}
        {%- else -%}
          {%- assign src = path | relative_url -%}
        {%- endif -%}
        {"src": "{{ src }}", "async": false},
      {% endfor %}


    ]
};
!function (t, n, r) {
    "use strict";
    var c = function (t) {
        if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
        for (var r = 0; r < t.length; r++) {
            var c = n.createElement("script"), e = t[r];
            c.src = e.src, c.async = e.async, n.body.appendChild(c)
        }
        return !0
    };
    t.addEventListener ? t.addEventListener("load", function () {
        c(r.scripts);
    }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
        c(r.scripts)
    }) : t.onload = function () {
        c(r.scripts)
    }
}(window, document, scr);
</script>
